.App {
  font-family: sans-serif;
  text-align: center;
  padding: 20px;
  background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%);
}
h1 {
  text-align: center;
  margin-top: 30px;
}
.photo {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.photo img {
  max-width: 100%;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}
